In [68]:
import numpy as np
import pandas as pd

In [69]:
#Question 1: From given data set print first and last five rows
cardata = pd.read_csv('Automobile_data.csv',dtype={"price": float}, na_values={'price':["?","n.a"],'stroke':["?","n.a"],'horsepower':["?","n.a"],'peak-rpm':["?","n.a"],'average-mileage':["?","n.a"]})
print(cardata.head())
print(cardata.tail())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [70]:
#Question 2: Clean data and update the CSV file
cardata = cardata.fillna('NaN')
print(cardata)

    index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
2       2  alfa-romero    hatchback        94.5   171.2        ohcv
3       3         audi        sedan        99.8   176.6         ohc
4       4         audi        sedan        99.4   176.6         ohc
..    ...          ...          ...         ...     ...         ...
56     81   volkswagen        sedan        97.3   171.7         ohc
57     82   volkswagen        sedan        97.3   171.7         ohc
58     86   volkswagen        sedan        97.3   171.7         ohc
59     87        volvo        sedan       104.3   188.8         ohc
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
2               six         154               19  16500.0
3              four         102               24  13950.0
4              five         115               18  17450.0
..              ...         ...              ...      ...
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

[61 rows x 10 columns]

In [71]:
#Question 3: Find the most expensive car company name
cardata['price'] = pd.to_numeric(cardata['price'], errors='coerce')
most_expensive_car = cardata.nlargest(1, 'price')[['company', 'price']]
print(most_expensive_car)

          company    price
35  mercedes-benz  45400.0

In [72]:
#Question 4: Print All Toyota Cars details
toyotas = cardata[cardata['company'] == 'toyota']
print(toyotas)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

In [73]:
#Question 5: Count total cars per company
counts = cardata['company'].value_counts()
print(counts)

company
toyota           7
bmw              6
mazda            5
nissan           5
mercedes-benz    4
audi             4
volkswagen       4
mitsubishi       4
chevrolet        3
jaguar           3
isuzu            3
honda            3
porsche          3
alfa-romero      3
dodge            2
volvo            2
Name: count, dtype: int64

In [74]:
#Question 6: Find each companyâ€™s Highest price car
highestcarprice = cardata.loc[cardata.groupby('body-style')['price'].idxmax(), ['company', 'price']]
print(highestcarprice.shape)
print(highestcarprice.to_string)

(5, 2)
<bound method DataFrame.to_string of           company    price
46        porsche  37028.0
35  mercedes-benz  45400.0
2     alfa-romero  16500.0
11            bmw  41315.0
33  mercedes-benz  28248.0>

In [75]:
#Question 7: Find the average mileage of each car making company
cardata['average-mileage'] = pd.to_numeric(cardata['average-mileage'], errors='coerce')
avgmilespercompany = cardata.groupby('company')['average-mileage'].mean()

print(avgmilespercompany.to_string)

<bound method Series.to_string of company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64>

In [76]:
#Question 8: Sort all cars by Price column
carsbyprice = cardata.sort_values(by='price', ascending=False)
print(carsbyprice.to_string)

<bound method DataFrame.to_string of     index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
..    ...            ...          ...         ...     ...         ...
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l
22     31          isuzu        sedan        94.5   155.9         ohc
23     32          isuzu        sedan        94.5   155.9         ohc
47     63        porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
..              ...         ...              ...      ...
27             four          68               30   5195.0
13            three          48               47   5151.0
22             four          70               38      NaN
23             four          70               38      NaN
47            eight         288               17      NaN

[61 rows x 10 columns]>

In [77]:
#Question 9: Concatenate two data frames using the following conditions
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925
, 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995,
23600, 61500 , 58900]}

german_df = pd.DataFrame(GermanCars)
japanese_df = pd.DataFrame(japaneseCars)

german_df['Type'] = 'German'
japanese_df['Type'] = 'Japanese'

merged_df = pd.concat([german_df, japanese_df])
print(merged_df)

       Company   Price      Type
0         Ford   23845    German
1     Mercedes  171995    German
2          BMV  135925    German
3         Audi   71400    German
0       Toyota   29995  Japanese
1        Honda   23600  Japanese
2       Nissan   61500  Japanese
3  Mitsubishi    58900  Japanese

In [78]:
#Question 10: Merge two data frames using the following condition
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925,
71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182,
160]}

carprice_df = pd.DataFrame(Car_Price)
carhorsepower_df = pd.DataFrame(car_Horsepower)

merged_df = pd.merge(carprice_df, carhorsepower_df, on='Company')

print(merged_df)

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160